.ProductDetail {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 30px 100px;
    margin-top: 70px;

    .detail {
        .brand {
            color: gray;
            font-size: 18px;
            font-weight: 500;
        }

        .desc {
            font-size: 18px;
        }

        .special-price {
            color: #26a541;
            font-size: 14px;
            font-weight: 500;
        }

        .price {
            font-size: 28px;
            font-weight: 500;
        }

        .actions {
            display: flex;
            gap: 5px;
            margin: 10px 0px;

            button {
                background-color: red;
                color: white;
                // padding: 5px 20px;
                border-radius: 5px;
                font-size: 20px;
                width: 200px;
                height: 50px;
            }
        }
    }
}