.product_detail_screen {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 70px;
    gap: 20px;

    .aside {
        display: flex;
        gap: 10px;

        .image-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .each-imagex {
                width: 90px;
                height: 100px;
                object-fit: cover;
            }

            .currentImage {
                outline: 2px solid #2874f0;
                padding: 3px;
                border-radius: 2px;
            }
        }

        .single-image {
            // height: 100%;
            aspect-ratio: 2/3;

            img {
                object-fit: cover;
                width: 500px;
                height: 600px;
            }
        }
    }

    .detail {
        padding: 0px 0px;
        .brand {
            color: gray;
            font-size: 18px;
            font-weight: 500;
        }

        .desc {
            font-size: 18px;
        }

        .special-price {
            color: #26a541;
            font-size: 14px;
            font-weight: 500;
        }

        .price-detail {
            display: flex;
            gap: 5px;
            align-items: center;
            font-family: Roboto,Arial,sans-serif !important;
            font-weight: 500;
            // font-variation-settings: normal;
            span:nth-child(1) {
                font-size: 28px;
                // font-weight: 500;
            }
            span:nth-child(2) {
                font-size: 16px;
                text-decoration: line-through;
                color: gray;
            }
            span:nth-child(3) {
                color: #26a541;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .offer-section {
            .title {
                font-weight: 500;
                font-size: 18px;
            }

            .each-offer {
                font-size: 14px;
                // display: flex;
                // align-items: center;
                // gap: 5px;
                margin: 8px 0px;
                // font-family: Roboto,Arial,sans-serif;
                span{
                    margin-right: 5px;
                }

                svg {
                    color: #14be47;
                    display: inline-flex;
                    margin-top: -2px;
                }

                span:nth-child(2) {
                    font-weight: 500;
                }
                span:nth-child(4) {
                    font-weight: 500;
                    color: #2874f0;
                }

            }
        }

        .actions {
            display: flex;
            gap: 5px;
            margin: 10px 0px;

            button {
                background-color: red;
                color: white;
                // padding: 5px 20px;
                border-radius: 5px;
                font-size: 20px;
                width: 200px;
                height: 50px;
            }
        }
    }
}