.header-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    height: 80px;
    background-color: #ad0119;
    // background-color: #272660;
    color: white;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    // transition: height 0.5s ease;
    // transition: padding 0.5s ease;
    transition: height 0.5s ease, padding 0.5s ease;
    z-index: 1;

    img {
        height: 40px;
        // width: 100px;
        // background-color: red;
    }
}

.header-screen.up {
    height: 60px !important;
    padding: 15px 50px;
    /* Height when scrolling up */
}